<html>
  <head>
    <%- include('../shared/head') %>
  </head>
  <body>
    <%- include('../shared/nav') %>
    <main class="get-started">
      <div class="container">
        <div class="row">
          <h1 class="display-3 fw-bold text-capitalize">Cylcing Services</h1>
          <div class="heading-line"></div>
        </div>
        <div class="row text-white">
          <div class="col-12 col-lg-6 gradient shadow p-2">
            <img src="images/sample.jpg" width="100%" height="500px" alt="" />
          </div>
          <div class="col-12 col-lg-6 bg-white shadow p-4 text-center bike">
            <div>
              <h4 class="display-3--title mb-3 pt-5">Our Services</h4>
              <ul>
                <li>Bicycle Assembly</li>
                <li>Maintenance</li>
                <li>Carbon repair</li>
              </ul>
            </div>
            <div>
              <h4 class="display-3--title mb-5">Brands</h4>
              <ul>
                <li>Challenge Tires</li>
                <li>Praxxis</li>
                <li>BBB</li>
                <li>STANS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('../shared/footer') %> <%- include('../shared/scripts') %>
</html>
