<html>
  <head>
    <%- include('../shared/head') %>
  </head>
  <body>
    <%- include('../shared/nav') %>
    <main>
      <div class="partners">
        <div class="photo-gallary">
          <h1 class="text-center display-4 text-white">Program Partners</h1>
          <div class="heading-line pb-4"></div>
          <div class="container partners-card">
            <div class="row photos p-5">
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  src="../images/Vibrant_Performance_Logo.webp"
                  alt="Vibrant_Performance"
                  class="img-card shadow p-3"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/EFR_Logo.png"
                  alt="EFR_Turbo"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Hoosier_Logo.png"
                  alt="Hoosier_Racing_Tire"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/kingbearing_Logo.png"
                  alt="King_Racing"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Exedy_Logo.png"
                  alt="Exedy_Clutch"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/FortuneAuto_Logo.webp"
                  alt="Fortune_Auto"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Radium_Engineering.webp"
                  alt="Radium_Engineering"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/RAYS_company_logo.svg"
                  alt="Rays_Engineering"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/motul_logo.svg"
                  alt="Motul_cards"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/stoptech-logo.png"
                  alt="StopTech_Brake_Systems"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Brian_Crower.png"
                  alt="Brian_Crower"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/OS_Giken_Logo.avif"
                  alt="OS_Giken"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Turosmart_Logo.png"
                  alt="Turbo_Smart"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/LA_Sleeve_Logo.png"
                  alt="LA_Sleeve"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/PMU_Logo.png"
                  alt="Project_Mu"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Hybrid_Racing_Logo.webp"
                  alt="Hybrid_Racing"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/APR_Logo.png"
                  alt="APR_Performance"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Ron_Davis_Logo.jpg"
                  alt="Ron_Davis_Racing_Products"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Antigravity_Batteries_Logo.png"
                  alt="Antigravity_Batteries"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Sparco_Logo.svg"
                  alt="Sparco"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/VP_Racing_Logo.png"
                  alt="VP_Racing_Fuel"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Eibach_Logo.png"
                  alt="Eibach_Springs"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/CP_Carillo_Logo.png"
                  alt="CP_Carrillo"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Acuity_Logo.avif"
                  alt="Acuity_Instruments"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/PTP_Turbo_Blankets_Logo.webp"
                  alt="PTP_Turbo_Blankets"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Cometic_Logo.png"
                  alt="Cometic_Gasket"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Quantum_Valley_Logo.svg"
                  alt="Quantum_Valley_Invstments"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/PE_Performane_Logo.webp"
                  alt="PE_Racing"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/TMP_Logo.webp"
                  alt="Toronto_Motorsports_Park"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Hasport_Logo.png"
                  alt="Hasport_Engine_Mounts"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Quaife_Logo.png"
                  alt="Quaife"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Emtron_Logo.png"
                  alt="EM_Tron_Ecu"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Supertech_Logo.png"
                  alt="SuperTech"
                />
              </div>
              <div
                class="col-sm-6 col-md-4 col-lg-3 item d-flex align-items-center"
              >
                <img
                  class="img-card shadow p-3"
                  src="../images/Hagerty_Logo.svg"
                  alt="Hagerty"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../shared/footer') %>
    </main>
    <%- include('../shared/scripts') %>
  </body>
</html>
