<html>
  <head>
    <%- include('../shared/head') %>
  </head>
  <body>
    <%- include('../shared/nav') %>
    <main>
      <!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - Roll Cages 
/////////////////////////////////////////////////////////////////////////////////////////////-->

      <div class="services">
        <section id="rollcages">
          <h1 class="text-center display-4 text-white">Services</h1>
          <div class="heading-line pb-4"></div>
          <div class="row rollcages">
            <div class="col-12 col-lg-6 gradient shadow p-2">
              <div class="text-light m-4">
                <p class="display-3 text-light">Roll Cages</p>
                <a
                  href="mailto:pzsquared@hotmail.com?subject=Rollcage Inquiry"
                  class="fw-normal link-danger link-underline link-underline-opacity-0 link-underline-opacity-50-hover"
                  ><button type="button" class="rounded-pill btn-rounded">
                    Get in Touch
                    <span><i class="fas fa-arrow-right"></i></span></button
                ></a>
                <p class="pt-5">
                  At PZ Tuning, we specialize in crafting bespoke roll cage
                  designs using high-strength Docol steel and Drawn Over Mandrel
                  Mechanical Tubing (DOM). With a rich history in Time Attack,
                  endurance racing, and hill climb applications, our expertise
                  ensures unparalleled safety and performance.
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-6 bg-light shadow p-2">
              <div
                id="carouselExampleCaptions"
                class="w-75 carousel slide m-5 mx-auto"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                    <img
                      src="../images/cageimages/cage1.jpg"
                      class="d-block w-100"
                      alt="tsxcage1"
                    />
                    <div
                      class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50 rounded"
                    >
                      <h5>Acura Tsx</h5>
                      <p>Champ car regulations roll cage</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img
                      src="../images/cageimages/bmwcage2.jpg"
                      class="d-block w-100"
                      alt="bmwcage2"
                    />
                    <div
                      class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50 rounded"
                    >
                      <h5>BMW M2 Comp</h5>
                      <p>Unlimited TimeAttack roll cage &#40;side view&#41;</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img
                      src="../images/cageimages/bmwcage1.jpg"
                      class="d-block w-100"
                      alt="bmwcage1"
                    />
                    <div
                      class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50 rounded"
                    >
                      <h5>BMW M2 Comp</h5>
                      <p>Unlimited TimeAttack roll cage &#40;Front view&#41;</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 2 - Composites
/////////////////////////////////////////////////////////////////////////////////////////////-->
        <section id="composites">
          <div class="row composites" class="row">
            <div class="container text-light my-3">
              <div class="p-3">
                <p class="display-2 pt-5">Composites</p>
                <span>
                  <a
                    class="link-underline link-danger link-underline-opacity-0 link-underline-opacity-50-hover fw-normal"
                    href="mailto:pzsquared@hotmail.com?subject=Carbon Composite Inquiry"
                    ><button type="button" class="rounded-pill btn-rounded">
                      Get in Touch
                      <span
                        ><i class="fas fa-arrow-right"></i
                      ></span></button></a
                ></span>
              </div>

              <div class="m-4">
                <p class="text-light">
                  At PZ Tuning, we're dedicated to pushing the boundaries of
                  carbon composite fabrication for motorsport applications, with
                  our main focus on Time Attack. Our expertise lies in the wet
                  laying technique, creating resilient and lightweight
                  components using top-quality materials.
                </p>

                <div
                  class="row d-flex gap-3 card-holder justify-content-center"
                >
                  <div
                    class="card bg-secondary bg-opacity-50 text-light p-0"
                    style="width: 18rem"
                  >
                    <img
                      src="/images/compositeImages/splitter1.jpg"
                      class="card-img-top"
                      alt="Bmw Splitter"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Tailored carbon fiber splitter meticulously designed for
                        the 2019 BMW M2 Competition, complete with bespoke
                        fitting.
                      </p>
                    </div>
                  </div>

                  <div
                    class="card bg-secondary bg-opacity-50 text-light p-0"
                    style="width: 18rem"
                  >
                    <img
                      src="/images/compositeImages/rsx1.jpg"
                      class="card-img-top"
                      alt="RSX"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Custom carbon fiber rear hatch, endplates, diffuser, and
                        sideskirts installed on our time attack rsx.
                      </p>
                    </div>
                  </div>

                  <div
                    class="card bg-secondary bg-opacity-50 text-light p-0"
                    style="width: 18rem"
                  >
                    <img
                      src="/images/compositeImages/civic1.jpg"
                      class="card-img-top"
                      alt="Civic"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        A fully bespoke carbon widebody, meticulously crafted
                        in-house, encompassing the trunk, front bumper,
                        splitter, roof, doors, underbody, and diffuser.
                      </p>
                    </div>
                  </div>

                  <div
                    class="card bg-secondary bg-opacity-50 text-light p-0"
                    style="width: 18rem"
                  >
                    <img
                      src="/images/compositeImages/trunk1.jpg"
                      class="card-img-top"
                      alt="coop"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Our in house team working on the process of laying
                        carbon fiber for the hatch portion of our time attack
                        rsx.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path
              fill="#e9ecef"
              fill-opacity="1"
              d="M0,32L120,32C240,32,480,32,720,64C960,96,1200,160,1320,192L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
            ></path>
          </svg>
        </section>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 3 - Car Audio
/////////////////////////////////////////////////////////////////////////////////////////////-->
        <section class="section-3">
          <div class="text-primary" id="car-audio">
            <div class="p-2 row">
              <div class="col-12 col-lg-6 p-3">
                <div class="col-6">
                  <h1 class="display-3 text-primary">Car Audio</h1>
                  <a
                    class="link-underline link-danger link-underline-opacity-0 link-underline-opacity-50-hover fw-normal"
                    href="mailto:pzsquared@hotmail.com?subject=Carbon Composite Inquiry"
                    ><button type="button" class="rounded-pill btn-rounded">
                      Get in Touch
                      <span><i class="fas fa-arrow-right"></i></span></button
                  ></a>
                </div>
              </div>

              <div class="col-12 col-lg-6 gradient shadow p-2">
                <div class="p-4 text-white">
                  <p class="display-2--description lh-base">
                    With a strong focus on top-tier brands, including Kenwood,
                    Audison, Hertz, JVC, and Nakamichi, we offer a curated
                    selection of cutting-edge audio solutions to elevate your
                    journey. Whether you seek crisp clarity, booming bass, or
                    immersive surround sound, our expert technicians are
                    dedicated to delivering unparalleled installations and
                    configurations that ensure your chosen brand's potential is
                    fully realized
                  </p>
                  <div class="brands-container">
                    <img
                      src="/images/car-audio/JVC_Logo.svg"
                      alt="JVC"
                      class="img-card-brands"
                    />
                    <img
                      src="/images/car-audio/audison-vector-logo.svg"
                      alt="Audison"
                      class="img-card-brands"
                    />
                    <img
                      src="/images/car-audio/hertz-a-division-of-elettromedia-vector-logo.svg"
                      alt="Hertz"
                      class="img-card-brands"
                    />
                    <img
                      src="/images/car-audio/Kenwood_Logo.svg"
                      alt="Kenwood"
                      class="img-card-brands"
                    />
                    <img
                      src="/images/car-audio/Nakamichi_Logo.svg"
                      alt="Nakamichi"
                      class="img-card-brands"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%- include('../shared/footer') %>
    </main>
    <%- include('../shared/scripts') %>
  </body>
</html>
